:root{
  --section-margin: 200px;
  
}


@font-face {
  font-family: regular;
  src: url(./assets/fonts/Gotham-Black.woff2);
}

*{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
  color:white;
  font-family: regular;
}


button {
  color: black;
  background-color: white;
  padding: 15px 40px;
  border-style: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: regular;
  cursor: pointer;
  &:hover{
    color: white;
    background-color: black;
  }
}