:root{
  --section-margin: 200px;
  
}


@font-face {
  font-family: regular;
  src: url(./assets/gotham/Gotham-Font/Gotham-Black.otf);
}

@font-face {
  font-family: regularbook;
  src: url(./assets/gotham/Gotham-Font/Gotham-Bold.otf);
}

*{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6{
  color:white;
  font-family: regular;
}

p{
  color: white;
  font-family: regularbook;
}

button {
  color: black;
  background-color: white;
  padding: 15px 40px;
  border-style: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: regular;
  cursor: pointer;
  &:hover{
    color: white;
    background-color: black;
  }
}


a{
  text-decoration: none;
  color: black;
  font-family: regularbook;
  font-size: 0.8rem;
}